<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
        <link rel="stylesheet" href="css/colorbox.css" type="text/css" media="all">
        <script src="js/jquery-1.8.0.min.js"></script>
        <script src="js/jquery.colorbox-min.js"></script>
        <!--[if lt IE 9]><script src="js/modernizr.custom.js"></script><![endif]-->
        <script src="js/functions.js"></script>
    {% endblock %}
</head>

<body>
{% block body %}
    <div id="wrapper">
        <div class="light-bg">
            <!-- shell -->
            <div class="shell">
                <!-- header -->
                <div class="header">
                    <h1 id="logo"><a href="#">ACS_Film</a></h1>
                    <!-- navigation -->
                    <nav id="navigation">
                        <ul>
                            <li><a href="{{ path('liste_film') }}">Films</a></li>
                            <li><a href="{{ path('easyadmin') }}">Espace admin<span>20</span></a></li>
                        </ul>
                    </nav>
                    <!-- end of navigation -->
                    <div class="cl">&nbsp;</div>
                </div>
                <!-- end of header -->
                <!-- main -->

                <div class="main">
                    <!-- content -->
                    <section class="content">
                        <!-- post -->
                        <div class="post">
                            <!-- post-inner -->
                            <div class="post-inner">
                                <header>
                                    <h2>test</h2>
                                    <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a>
                                    </p>
                                    <div class="cl">&nbsp;</div>
                                </header>
                                <div class="img-holder"> <a href="#"><img src="" height="700px" width="640px" alt=""></a> <a
                                            href="" class="btn-full-image popup"><span>FULL IMAGE</span></a>
                                </div>
                                <!-- meta -->
                                <div class="meta">
                                    <p class="date"> <a href="#"></a></p>
                                    <div class="right">
                                        <!-- <div class="rating-holder">
                                             <p>RATING</p>
                                             <div class="rating"> <span style="width: 100%;"></span> </div>
                                         </div>
                                         <a href="#" class="comments">59 comments</a>
                                     </div>-
                                     <div class="cl">&nbsp;</div>-->
                                    </div>

                                    <!-- end of meta -->
                                    <!-- post-cnt -->
                                    <div class="post-cnt">
                                        <p>
                                            <br>

                                        </p>
                                        <a href=""><h3>Consultez Details</h3></a>
                                    </div>
                                    <!-- end of post-cnt -->
                                </div>
                                <!-- post-inner -->
                            </div>

                            <!-- end of post -->

                            <div class="pagination">
                                <ul>
                                    <li class="laquo"><a href="#"><span></span></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="raquo"><a href="#"><span></span></a></li>
                                    <li><a href="#">10</a></li>
                                    <li class="dots">. . .</li>
                                    <li><a href="#">last</a></li>
                                </ul>
                            </div>
                    </section>
                    <!-- end of content -->
                    <!-- sidebar -->
                    <aside class="sidebar">
                        <div class="widget">
                            <h3 class="widgettitle">Genres</h3>
                            <ul>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Comedy</a></li>
                                <li><a href="#">Family</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Mystery</a></li>
                                <li><a href="#">Sci-Fi</a></li>
                                <li><a href="#">War</a></li>
                                <li><a href="#">Western</a></li>
                                <li><a href="#">Adventure</a></li>
                                <li><a href="#">Crime</a></li>
                                <li><a href="#">Fantasy</a></li>
                                <li><a href="#">Horror</a></li>
                                <li><a href="#">Thriller</a></li>
                            </ul>
                        </div>

                        <div class="widget socials-widget">
                            <h3 class="widgettitle">Suivez-nous !</h3>
                            <ul>
                                <li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
                                <li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
                                <li><a href="#" class="linkedin-ico"><span></span>Linkedin</a></li>
                            </ul>
                        </div>
                    </aside>
                    <!-- end of sidebar -->
                    <div class="cl">&nbsp;</div>
                </div>
                <!-- end of main -->
                <div class="footer">
                    <p class="copy">Tout droit réservé <span>|</span> Développé par <a target="_blank" href="#">Oumar SOW, André M N'DOUR et Aissatou NDAO</a></p>
                </div>
            </div>
            <!-- end of shell -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>

</html>